.wall {
    box-sizing: border-box;
    background: url('../public/back.webp');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

@media (width<=800px) {
    .wall {
        background-size: 100% 100%;
    }
}

@media (width<=450px) {
    .wall {
        background-size: 120% 100%;
        background-position: center;
    }
}

@media (width<=350px) {
    .wall {
        background-size: 140% 100%;
        background-position: center;
    }
}