#userdetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 0px;
}

#userdetails div {
    margin: 4px;
    color: brown;
    font-style: italic;
}

#userdetails div input {
    margin-left: 5px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

#userdetails div input:focus {
    outline: none;
}